@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  scroll-behavior: smooth;
}
body {
font-family: "Poppins", sans-serif;
}
.signature-font {
  font-family: "Momo Signature", cursive;
}

